body {
  font-size: 15px;
}
.examples {
  padding: 2em;
}
.grid {
  outline: 0.2em solid #FFFFa0;
  background: blue;
  height: 100em;
  width: 100em;
}
.grid-block {
  text-align: center;
  vertical-align: middle;
  background: #f0f0f0;
  margin: 1em;
  font-size: 3em;
  color: #a0a0a0;
  line-height: 50px;
  /*padding: 1em;*/
  float: left;
  width: 5em;
  height: 5em;
}
.container {
  width: 40em;
  height: 40em;
  background: #f7f7f7;
}